# Git
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# OS specific
.DS_Store

# Secrets (DO NOT INCLUDE IN IMAGE)
.env
firebase-service-account.json
